<%= javascript_include_tag "main" %>

<div id="blackMain"></div>
<div id="textMain">Rain <span>or Shine</span></div>
<div id="subTextWeather">
 
	    <div id="location"><%= @weather["current_observation"]["display_location"]["full"]%></div></br>
	    <div id="time"><%=@weather["current_observation"]["observation_time"]%> Local Time</div>

	    
	    <div id="center">

	    <!-- cloudy -->	

	    <% if @weather["current_observation"]["icon"] == "cloudy" || 
    		@weather["current_observation"]["icon"] == "partlycloudy" || 
    		@weather["current_observation"]["icon"] == "mostlycloudy"%>
      		<span id="weather_icons"><%= image_tag "cloudy-icon.png" %></span>
      	<%end%>

	    <!-- sunny -->

	    <% if @weather["current_observation"]["icon"] == "sunny" || 
	    	@weather["current_observation"]["icon"] == "mostlysunny" ||  
	    	@weather["current_observation"]["icon"] == "partlysunny" || 
	    	@weather["current_observation"]["icon"] == "clear" %>
       		<span id="weather_icons"><%= image_tag "sunny-icon.png" %></span>
       	<%end%>

		<!-- rain -->
		​
		<% if @weather["current_observation"]["icon"] == "rain" || 
			@weather["current_observation"]["icon"] == "chancerain" %>
		    <span id="weather_icons"><%= image_tag "rain-icon.png" %></span>
		<%end%>
		​
		<!-- thuderstorm -->

		​
		<% if @weather["current_observation"]["icon"] == "tstorms" || 
			@weather["current_observation"]["icon"] == "chancetstorms" %>
		    <span id="weather_icons"><%= image_tag "thunderstorm-icon.png" %></span>
		<%end%>

		​ 
		<!-- snow -->

		​
		<% if @weather["current_observation"]["icon"] == "flurries" || 
			@weather["current_observation"]["icon"] == "chancesnow" || 
			@weather["current_observation"]["icon"] == "snow" || 
			@weather["current_observation"]["icon"] == "chanceflurries" %>
		    <span id="weather_icons"><%= image_tag "snow-icon.png" %></span>
		<%end%>

		​
		<!-- fog/hazy -->

		​
		<% if @weather["current_observation"]["icon"] == "fog" || 
			@weather["current_observation"]["icon"] == "hazy" %>
		    <span id="weather_icons"><%= image_tag "fog-icon.png" %></span>
		<%end%>


		<!-- sleet / freezing rain -->

	​
		<% if @weather["current_observation"]["icon"] == "chancesleet" || 
			@weather["current_observation"]["icon"] == "sleet" || 
			@weather["current_observation"]["icon"] == "freezingrain" %>
		    <span id="weather_icons"><%= image_tag "sleet-icon.png" %></span>
		<%end%>

		<span id="temp"><%= @weather["current_observation"]["temp_f"]%>°F</span><br>

		<%= @weather["current_observation"]["weather"]%>, Humidity: <%= @weather["current_observation"]["relative_humidity"]%><br><br>

		<div class="search">Search Another Location:</div>

	    
	    </div>



	    <%=form_for @new_location, url: {action: :new}, method: :get do |f|%>
			
			<%=f.text_field :city, :placeholder => "City" %>
			<%=f.text_field :state , :placeholder => "State or Country"%>
			<%=f.submit ("Search")%>
		<%end%>
 
</div>



	    	
	    



<!-- <div id="locationText">Tell us where you are located</div>

<form class="searchform cf">
  <input type="text" placeholder="City,State - or - City,Country">
  <button type="submit">Search</button>
</form> -->

 
    
 


