<%= javascript_include_tag "main" %>

<div id="blackMain"></div>
<div id="textMain">Rain <span>or Shine</span></div>
<div id="subTextWeather">
 
	    <div id="location"><%= @weather["current_observation"]["display_location"]["full"]%></div></br>

	    
	    <div id="center">
	    <% if @weather["current_observation"]["icon"] == "cloudy" %>
	    <span id="weather_icons"><%= image_tag "sunny-icon.png" %></span>
	    <%end%>
	    <span id="temp"><%= @weather["current_observation"]["temp_f"]%> °F</span>
	    

	    Humidity: <%= @weather["current_observation"]["relative_humidity"]%><br>
	    <%= @weather["current_observation"]["weather"]%><br>
	     <p> <%= @time %></P>
	    </div>

	   

</div>



	    	
	    



<!-- <div id="locationText">Tell us where you are located</div>

<form class="searchform cf">
  <input type="text" placeholder="City,State - or - City,Country">
  <button type="submit">Search</button>
</form> -->

 
    
 


